.get-in {
  display: flex;
  justify-content: center;
  background-color: var(--main-background);
}
.get-in .contact-box  {
  position: relative;
  border-radius: 0.2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 5rem 2.5rem;
  margin-left: 6.5rem;
  margin-right: 5rem; 
  outline: 0.2rem #fff9;
  background: var(--gradient-to-right-gtw);
}
.get-in .text {
  color: #e21bac;
  font-size: 2rem;
  margin-bottom: 0.9rem;
}
  
.get-in .title {
  font-size: 3.5rem;
  color: #0f172a;
  margin-bottom: 1.9rem;
}
  
.get-in .btn{
  box-shadow: 0px 0px 10px #6c6767;
  background: var(--gradient-to-bottom-left-ptp);
  width: 11rem;
  height: 4rem;
  border-radius: 0.5rem;
  border-style: none;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  color: #fff;
   
}
.get-in .contact-right {
 display: flex;
 justify-content: flex-end;
 align-items: flex-end;
}
.get-in .wmn {  
 position: absolute;
 right: 7rem;
 height: 30rem;
 margin-bottom: -4.9rem;
}
.get-in .body-bg{
 position: absolute;
 bottom: 0;
 right: 0rem;
 height: 23rem;
}
