
.portfolio .row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    align-items: center;
    width: 100%;
}

.portfolio .txt-1 {
    color: #e70280;
    margin-bottom: 13px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    margin-top: 0px;
}

.portfolio .txt-2 {
    font-size: 48px;
    font-weight: 700;
    color: #08203a;
    font-family: "Poppins", sans-serif;
    line-height: 1.25;
    margin-bottom: 3rem;
}

.portfolio .all-btn {
    text-align: center;
    display: flex;
    margin-bottom: 50px;
    
}

.portfolio .btn-1 {
    font-size: 15px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    color: #08203a;
    line-height: 1;
    padding: 20px 20px;
    display: inline-block;
}

.portfolio .col-12 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    font-family: sans-serif;
    background-color: #eaf1f9;
    margin: 0;
    padding: 2rem;
  }
  
  .services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
  }
  
  .service-card {
    background-color: white;
    border-radius: 1rem;
    padding: 1.5rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .service-tag {
    display: inline-block;
    background-color: #eef3fb;
    color: black;
    font-size: 0.75rem;
    font-weight: 600;
    padding: 0.3rem 0.6rem;
    border-radius: 0.4rem;
    margin-bottom: 1rem;
  }
  
  .service-title {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }
  
  .service-desc {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 1.5rem;
  }
  
  .service-btn {
    margin-top: 1.875rem;
    padding: 0.75rem 1.75rem;
    border: 0.125rem solid;
    border-image: linear-gradient(to left, #590fb7, #ff0076);
    border-image-slice: 1;
    background: transparent;
    color: #08203a;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }

  .service-btn::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to right, #590fb7, #ff0076);
    color: white;
    transition: 0.4s ease;
    z-index: 0;
    pointer-events: none;
  }
  
  .service-btn:hover::after {
    width: 100%;
  }
  
  .service-image {
    width: 100%;
    margin-top: 1rem;
    border-radius: 0.5rem;
  }